.banner {
    background-image: url("../assets/img/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
    text-align: center !important;
    color: darkred !important;
}

.slogan {
    background-color: rgb(248, 249, 250) !important;
    text-align: center !important;
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1;
    max-width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
}

.block_3 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
